.about{
  background-color: rgb(40, 40, 40);
  background-image: url("../img/toronto-skyline.jpg");
  background-size: cover;
  background-position: right;
  width: 100%;
  margin: 2em auto;
}

.about-box{
  background: rgba(0, 0, 0, .65);
}

.profile{
  display: none;
}
