.education{
  background-image: url("../img/notebook.jpg");
  background-size: cover;
  width: 100%;
  margin: 2em auto;
}

.education-img{
  width: 20%;
  height: 20%;
  min-width: 10em;
  min-height: auto;
  display: block;
  margin: 1em auto;
}

.education-list{
  text-align: center;
  margin: 1.5em;
  font-size: 150%;
  padding: 0;
  list-style-type: none;
}

.education-list-item{
  list-style: none;
  line-height: 1.3em;
}

.education-link{
  text-align: center;
  display: block;
  font-size: 150%;
  font-weight: bold;
  margin: 2em auto;
  padding-bottom: 1em;
  width: 13em;
}

a.education-link:link{
  color: red;
  text-decoration: none;
}

a.education-link:visited{
  color: red;
  text-decoration: none;
}

a.education-link:hover{
  color: lightgrey;
}
