*{
    box-sizing: border-box;
}

body{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: white;
  background-color: rgb(122, 177, 92);
}

a{
  color: inherit;
}

a:hover{
  color: grey;
}

a:visited{
  color: inherit;
}

footer{
  font-size: 75%;
  margin-left: 0.5em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

p.status{
  font-weight: bold;
}

main{
  margin-top: 6em;
}

.banner-heading{
  font-size: 300%;
  color: white;
    text-shadow:
    -1.4px -1.4px 0 #000,
    1.4px -1.4px 0 #000,
    -1.4px 1.4px 0 #000,
    1.4px 1.4px 0 #000;
  text-align: center;
  margin: 1em auto;
  margin-bottom: 0.6em;
  padding-top: 0.5em;
  display: block;
  width: 100%;
}

.box-heading{
  text-align: center;
  margin: auto;
  display: block;
}

.box-heading-plus-img{
  text-align: center;
  margin: auto;
  display: inline;
}

.box-head-img{
  width: 25%;
  height: 25%;
  max-width: 3.5em;
  max-height: auto;
  vertical-align: middle;
  display: inline;
  margin: auto;
  border: solid 0.1em white;
  background: white;
  border-radius: 1.5em;
}

.box-content{
  padding: 1em;
  line-height: 1.5em;
  font-size: 115%
}

.to-top{
  display: block;
  padding-bottom: 0.5em;
  font-size: 150%;
  width: 100px;
}

a.to-top:link{
  color: blue;
}

a.to-top:visited{
  color: blue;
}
