.work{
  background-color: rgb(40, 40, 40);
  background-image: url("../img/wood-table.jpg");
  background-size: cover;
  margin: 2em auto;
  padding-bottom: 2.5em;
  width: 100%;
}

.work-box{
  width: 100%;
  margin: auto;
  padding: 1em 1em;
  max-width: 38em;
  background: rgba(0, 0, 0, .80);
  border-radius: 0.5em;
  vertical-align: middle;
}

.work-date{
  font-size: 120%;
  text-align: center;
  margin: 1em  0em;
}

#accord-logo{
  height: 3.7em;
}

#dx-logo{
  margin-top: 0.5em;
}

#dx-box{
  margin-top: 2em;
}
